body {
    background-color:black;
}
@font-face {
    font-family: 'bebas';
    src: url('BebasNeue-Regular.ttf') format('ttf');
}
div.poster {
    background-color: rgb(255, 246, 236);
    width: 75%;
}
div.small {
    font-family: arial; 
    font-size: 12.5px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(0, 0, 218);
}
div.text {
    font-family:Impact;
    text-align: center;
    text-transform: uppercase; 
    transition: .5s;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
}
div.text.one {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 75px;
    background-color: rgba(165, 165, 247, 0.5);
    text-align: left;
    line-height: -50px;
}
div.text.two {
    font-size: 50px;
    font-weight: lighter;
    border-color: rgb(31, 31, 97);
    border-style:dotted;
    border-width: 25px;
}
div.text.three {
    font-size: 25px;
    font-style: italic;
    background-color: rgba(165, 165, 247, 0.76);
    text-align: right;
    border-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* rule 2 color */

div.text.a {}
div.text.b {}
div.text.c {}

/* rule 2 alignment */

div.text.a {}
div.text.b {}
div.text.c {}