body {
    background-color:rgb(255, 255, 255);
}

div.poster {
    width: 75%;
    background-image: url("background.tif");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center center;

}
div.text {
    font-family: helvetica;
    text-align: left;
    text-transform: uppercase; 
    transition: .5s;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
div.small {
    font-family: arial; 
    font-size: 3px;
    padding-bottom: 10px;
    text-align: center bottom ;
    color: white;
}
div.container {
    display: flex;
    flex-wrap:wrap;  
}
div.col {
    font-size: 2px;
}

/*rule 1*/

div.text.one {
    font-weight: lighter;
}
div.text.two {
    font-weight: bold;
}
div.text.three {
    font-weight: bolder;
}

/*rule 2*/

div.text.a {
    color: rgb(0, 0, 0);
    transform: rotate(90deg);
}
div.text.b {
    color: rgb(0, 0, 0);
}
div.text.c {
    color: black;
    transform: rotate(180deg);
}

/*rule 3*/

div.text.x {
    text-align: right;
    padding-bottom: 10px;
}
div.text.y {
    text-align: left;
}
div.text.z {
    text-align: justify;
}

 /* halves columns */
 
 div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

/* thirds columns */

div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;
    /* background-image: url("Asset\ 2.png");
    background-position: center left;
    background-repeat: repeat-x;
    background-size: contain; */
    
}
div.w3-3 {
    width: 100%;
}

/* quarter columns */

div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%;
}
div.w3-4 {
    width: 75%;
}
div.w4-4 {
    width: 100%;
}

/* 10s columns */

div.w1-10 {
    width: 10%;
}

div.w2-10 {
    width: 20%;
}
div.w3-10 {
    width: 30%;
}
div.w4-10 {
    width: 40%;
}
div.w5-10 {
    width: 50%;
}
div.w6-10 {
    width: 60%;
}
div.w7-10 {
    width: 70%;
}
div.w8-10 {
    width: 80%;
}
div.w9-10 {
    width: 90%;
}
div.w10-10 {
    width: 100%;
}