body {
    background-color:rgb(249, 237, 237);
}

div.poster {
    background-color: rgb(0, 0, 0);
    width: 75%;
}
div.col {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-align: center;
 
 }
  
 div.text {
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
    transform: rotate(45deg);
    text-align: .5pt;
    padding: 100px;
    padding-bottom: 10px;
}

div.small {
    font-family: arial; 
    color: rgb(249, 237, 237);
    font-size: 12.5px;
    padding-bottom: 10px;
    border-top: 10px solid rgb(249, 237, 237);
}
 
 /* halves columns */
 
 div.w1-2 {
     width:50%;
 }
 
 div.w2-2 {
     width:100%;
 }
 
 /* thirds columns */
 
 div.w1-3 {
     width: 33.33%;
 }
 
 div.w2-3 {
     width: 66.66%;
 }
 div.w3-3 {
     width: 100%;
 }
 
 /* quarter columns */
 
 div.w1-4 {
     width: 25%;
     transform: rotate(90deg);
 }
 
 
 div.w2-4 {
     width: 50%;
 }
 div.w3-4 {
     width: 75%;
 }
 div.w4-4 {
     width: 100%;
 }
 
 
 /*rule 1*/
 
 div.text.one {
     font-size: 1pt;
 }
 div.text.two {
     font-size: 3pt;
 }
 div.text.three {
     font-size: 2pt;
 }
 
 /*rule 2*/
 
 div.text.a {
    transform: rotateX(45deg);
 }
 div.text.b {
     transform: rotateX(45deg);
    
 }
 div.text.c {
    transform: rotateY(45deg);
    
 }
 
 /*rule 3*/
 
 div.text.x {
      font-family: 'Times New Roman', Times, serif;

 }
 div.text.y {
     font-family: impact;
     
 }
 div.text.z {
     font-weight: bolder;
     
 }
 
 
 /*rule 3*/
 
 /* div.text.x {
      width: 25%;
    
 }
 div.text.y {
     width: 75%;
     
 }
 div.text.z {
     width: 100%;
     
 } */
 
 
div.text {
    font-family: arial;
    text-align: center;
    transition: .5s;
    border-top: 3px solid black;
}

/*rule 1*/

div.text.one {
    font-size: 100px;
}
div.text.two {
    font-size: 50px;
}
div.text.three {
    font-size: 25px;
}

/*rule 2*/

div.text.a {
    color: rgb(203, 70, 70);
}
div.text.b {
    color: rgb(255, 255, 255);
}
div.text.c {
    color: rgb(217, 26, 80);
}

/*rule 3*/

div.text.x {
    text-align: left;
}
div.text.y {
    text-align: right;
}
div.text.z {
    text-align: justify;
}