body {
    background-color: #f6f5f1;
    background-image: url(background3.jpg) ;
    background-size: cover;
    background-repeat: repeat;
    /* cursor: url("scissors.png"), auto, default ; */
    font-family: "font";
    font-size: 20px;
    color: #667354;
    text-align: center; 

}

@font-face {
    font-family: "font";
    src: url("BellCentennialStd-Address.otf") format('otf'), url("BellCentennialStd-Address.woff") format('woff');
}

@font-face {
    font-family: "bold";
    src: url("BellCentennialStd-NameNum.otf") format('otf'), url("BellCentennialStd-Address.woff") format('woff');
}

/* div.space {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    height: 50px;
    font-size: 10px;
    
} */

div.container {
    margin-top: 900px;
    margin-left: 10%;
    flex-wrap: wrap;
    display: flex;
}


div.left {
    margin-top: 20px;
}
div.right {
    text-align: left;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;

}



div.agent {
margin-right: 40%;
}

div.about {
 
    padding-right: 10%;
}


div.header {
    margin-top: 100px;
    margin-left: 12%;
    /* background-color: blue; */
    color: #667354;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;

}

div.header1 {
    font-family: "bold";
    margin-top: 100px;
    margin-left: 12%;
    /* background-color: blue; */
    color: #667354;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;

}

/* div.title {
    margin-left: -15%;
    transform: rotate(-90deg);
    padding-top: 8%;
    padding-right: 10%;
    float: left;

} */


div.title2 {
    
    margin-left: -10%;
    transform: rotate(-90deg);
    padding-right: 5%;
    float: left;

}

div.content {
    padding-left: 10%;
    padding-right: 5%;
    text-align: left;
    font-size: 20px;
}

div.feature {
margin-left: 40%;
    margin-top: 20px;
    text-align: left;
    font-size: 60px;
}

div.right2 {
    margin-left: 40%;
        margin-top: 10px;
        text-align: left;
        background-color: aqua;
       
    }



div.content2 {
    margin-top: 50px;
    padding-left: 70%;
    text-align: left;
    padding-bottom: 30%;
}

div.paragraph{
margin-left: 5%;

/* background-color: aquamarine; */
display: flex;
flex-wrap: wrap;

}

div.column {
    text-align: left;
    padding-top: 10px;
    padding-left: 5%;
    /* background-color: blue; */
}

div.foot {
    margin-top: 30px;
    width: 50%;
    text-align: left;
    font-size: 10px;
    font-weight: lighter;
    
}
div.foot2 {
    margin-top: 30px;
    width: 50%;
    text-align: left;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 500px;
}


div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

/* thirds columns */

div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;
    /* background-image: url("Asset\ 2.png");
    background-position: center left;
    background-repeat: repeat-x;
    background-size: contain; */
    
}
div.w3-3 {
    width: 100%;
}

/* quarter columns */

div.w1-4 {
    width: 25%;
}


div.w2-4 {
    width: 50%;
}
   
div.w3-4 {
    width: 75%;
} 
    

div.w4-4 {
    width: 100%;
}

/* 10s columns */

div.w1-10 {
    width: 10%;
}

div.w2-10 {
    width: 20%;
}
div.w3-10 {
    width: 30%;
}
div.w4-10 {
    width: 40%;
}
div.w5-10 {
    width: 50%;
}
div.w6-10 {
    width: 60%;
}
div.w7-10 {
    width: 70%;
}
div.w8-10 {
    width: 80%;
}
div.w9-10 {
    width: 90%;
}
div.w10-10 {
    width: 100%;
}