body {
    background-color: #f6f5f1;
    background-image: url(background1.jpg) ;
    background-size: contain;
    background-repeat: repeat;
    /* cursor: url("scissors.png"), auto, default ; */
    font-family: "font";
    font-size: 10px;
    color: #5e6b4d;
    text-align: center; 

}

@font-face {
    font-family: "font";
    src: url("BellCentennialStd-Address.otf") format('otf'), url("BellCentennialStd-Address.woff") format('woff');
}


/* div.space {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    height: 50px;
    font-size: 10px;
    
} */

div.nav {
    margin-top: 30px;
    padding-left: 10%;
    padding-bottom: 2%;
    text-align: left;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
}

div.agent {

margin-right: 40%;
}

div.about {
 
    padding-right: 10%;
}


div.header {
    margin-top: 100px;
    margin-left: 12%;
    /* background-color: blue; */
    color: #dfd3b4;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;

}

/* div.title {
    margin-left: -15%;
    transform: rotate(-90deg);
    padding-top: 8%;
    padding-right: 10%;
    float: left;

} */


div.title2 {
    
    margin-left: -10%;
    transform: rotate(-90deg);
    padding-right: 5%;
    float: left;

}

div.content {
    margin-top: 500px;
    padding-left: 10%;
    text-align: left;
    font-size: 20px;
}

div.feature {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 100px;
    align-self: center center;
    font-size: 200px;
}

div.feature.one {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 100px;
    align-self: center center;
    font-size: 200px;
}

div.feature.two {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 100px;
    align-self: center center;
    font-size: 200px;
}
div.feature.three {
    font-family: 'Times New Roman', Times, serif;
    transform: skew(20deg);
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 100px;
    align-self: center center;
    font-size: 200px;
    
}

div.content2 {
    margin-top: 50px;
    padding-left: 70%;
    text-align: left;
    padding-bottom: 30%;
}

div.paragraph{
margin-left: 5%;

/* background-color: aquamarine; */
display: flex;
flex-wrap: wrap;

}

div.column {
    text-align: left;
    padding-top: 10px;
    padding-left: 5%;
    /* background-color: blue; */
}

div.foot {
    margin-top: 30px;
    padding-top: 70px;
    padding-left: 50%;
    width: 50%;
    text-align: left;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 40px;
}


div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

/* thirds columns */

div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;
    /* background-image: url("Asset\ 2.png");
    background-position: center left;
    background-repeat: repeat-x;
    background-size: contain; */
    
}
div.w3-3 {
    width: 100%;
}

/* quarter columns */

div.w1-4 {
    width: 25%;
}


div.w2-4 {
    width: 50%;
}
   
div.w3-4 {
    width: 75%;
} 
    

div.w4-4 {
    width: 100%;
}

/* 10s columns */

div.w1-10 {
    width: 10%;
}

div.w2-10 {
    width: 20%;
}
div.w3-10 {
    width: 30%;
}
div.w4-10 {
    width: 40%;
}
div.w5-10 {
    width: 50%;
}
div.w6-10 {
    width: 60%;
}
div.w7-10 {
    width: 70%;
}
div.w8-10 {
    width: 80%;
}
div.w9-10 {
    width: 90%;
}
div.w10-10 {
    width: 100%;
}