body {
    background-color:black;
}

div.poster {
    background-color: red;
    width: 75%;
    overflow: hidden;
}


div.pic {
    z-index: 10;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center center;
    position: relative;
    position: fixed;
    width: 75%;

}

div.bar {
    position: fixed;
    background-color: red;
    border-width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -40%);
    
}

div.text {
    font-family: helvetica;
    text-align: left;
    text-transform: uppercase; 
    transition: .5s;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
div.small {
    font-family: helvetica; 
    font-weight: bolder;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
    text-align: center center;
    color: rgb(0, 0, 0);
}
div.small2 {
    font-family: helvetica; 
    font-weight: lighter;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    flex: wrap;
    transform: rotate(270deg);
}
div.container {
    display: flex;
    flex-wrap:wrap;  
    overflow: hidden;
}
div.col {
    font-size: 2px;
    overflow: hidden;  
}

/*rule 1*/

div.text.one {
    font-weight: lighter;
    transform: rotateX(45deg);
}
div.text.two {
    font-weight: bold;
    transform: rotate(90deg);
    
}
div.text.three {
    font-weight: bolder;
   
    
}

/*rule 2*/

div.text.a {
    color: rgb(255, 0, 0);
    font-size: 3px;
}
div.text.b {
    color: white;
    
}
div.text.c {
    color: black;
}

/*rule 3*/

div.text.x {
    text-align: right;
    padding-bottom: 10px;
    transform: rotate(180deg);
}
div.text.y {
    text-align: left;
}
div.text.z {
    text-align: justify;
}

 /* halves columns */
 
 div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

/* thirds columns */

div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;
    /* background-image: url("Asset\ 2.png");
    background-position: center left;
    background-repeat: repeat-x;
    background-size: contain; */
    
}
div.w3-3 {
    width: 100%;
}

/* quarter columns */

div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%;
}
div.w3-4 {
    width: 75%;
}
div.w4-4 {
    width: 100%;
}

/* 10s columns */

div.w1-10 {
    width: 10%;
}

div.w2-10 {
    width: 20%;
}
div.w3-10 {
    width: 30%;
}
div.w4-10 {
    width: 40%;
}
div.w5-10 {
    width: 50%;
}
div.w6-10 {
    width: 60%;
}
div.w7-10 {
    width: 70%;
}
div.w8-10 {
    width: 80%;
}
div.w9-10 {
    width: 90%;
}
div.w10-10 {
    width: 100%;
}