body {
    background-color:black;
}

div.poster {
    background-color: rgb(255, 246, 236);
    width: 75%;
}

div.container {
    display: flex;
    flex-wrap: wrap;

}

div.col {
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;

}

/* halves columns */

div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

/* thirds columns */

div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;
}
div.w3-3 {
    width: 100%;
}

/* quarter columns */

div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%;
}
div.w3-4 {
    width: 75%;
}
div.w4-4 {
    width: 100%;
}



div.text {
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
}

div.small {
    font-family: arial; 
    font-size: 12.5px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(255, 255, 255);
}

/*rule 1*/

div.text.one {
    font-size: 100px;
}
div.text.two {
    font-size: 50px;
}
div.text.three {
    font-size: 25px;
}

/*rule 2*/

div.text.a {
    color: black;
}
div.text.b {
    color: rgb(0, 0, 0);
}
div.text.c {
    color: rgb(0, 0, 0);
}

/*rule 3*/

div.text.x {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
div.text.y {
    font-family: 'Courier New', Courier, monospace ;
    
}
div.text.z {
    font-weight: lighter;
    
}


/*rule 3*/

/* div.text.x {
     width: 25%;
   
}
div.text.y {
    width: 75%;
    
}
div.text.z {
    width: 100%;
    
} */

